
<div class="welcome">
  <h1>Welcome to my blog.</h1>
  <p>Here you can share the experience and memories from tours, concerts and so on.</p>
</div>

  

<!-- 
<div class="container">
  
  <div class="articles">
    <app-articles-list />
  </div>
    
  <div class="posts">
    <app-posts-list />
  </div>
  
  
</div> -->


<div class="container">

  <div class="image-section">
    <img src="./../../assets/Images/HomeImg.jpg" alt="Image description">
  </div>

    <div class="posts">
      <app-posts-list />
    </div>

    <div class="button-container">
      <button>Click Me</button>
    </div>

</div>

<div class="text-section">
  <p>Text goes here. This is where you can put 2-3 sentences.</p>
</div>
  

