/* .container {
    display: flex;
    border: 2px black solid;
    margin: 20px;
} */


/*
 .container {
    display: flex;
    padding: 10px 100px;
    margin: 10px 80px 10px 80px;
    
    
     align-items: flex-start; 
     justify-content: space-evenly; 
} 
*/

 /* .articles {
    flex: 2;
} */

.welcome {
    text-align: center;
}


.container {
    text-align: center;
    display: flex;
    align-items: flex-start; 

  }
  
  .image-section {
    
    position: relative;
    margin-bottom: 20px;
    /* margin-right: 200px; */
  }
  
  img {
    max-width: 80%;
    height: auto;
  }

  
  .button-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  
  button {
    
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }


  
  .text-section {
    margin: 10px 40px;
    padding: 20px;
    background-color: rgb(102, 238, 163);

  }