

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  /* min-height: 100vh; */
}

.new-theme-border {
  width: 800px; /* Double the width to make it larger */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(102, 238, 163);
}

.header-background {
  background-color: rgb(93, 192, 137);
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.header-background span {
  font-size: 18px;
}

form {
  margin-top: 20px;
}

.new-theme-title,
.new-theme-content {
  margin-bottom: 15px;
}

.new-theme-title label,
.new-theme-content label {
  display: block;
  margin-bottom: 5px;
}

.new-theme-title input,
.new-theme-content textarea {
  width: 97%;
  padding: 11px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error {
  color: red;
  display: none;
  margin-top: 5px;
}

.new-theme-buttons {
  display: flex;
  justify-content: space-between;
}

.new-theme-buttons button {
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-theme-buttons .cancel {
  background-color: rgb(70, 165, 113);
}

.new-theme-buttons .public {
  background-color: rgb(70, 165, 113);
  color: #fff;
}

.new-theme-buttons button:hover {
  background-color: rgb(93, 192, 137);
}
