

    <aside class="aside-section">
        <div class="aside" *ngIf="!isLoading">
            <h2 class="title">Popular posts</h2>
    
            <div *ngIf="thereAreNoPosts">
                <h3>There are no posts!</h3>
            </div>
    
    
            <div class="posts">
                <div *ngFor="let post of postsList" class="aside-theme">
                     <a href="#">
                        <h3>{{ post.articleId.posts }}</h3> 

                        <h3>{{ post.articleId.articleName }}</h3>

                        <p>{{ post.userId.username }}</p>
                        <p><span>{{ post.created_at }}</span></p>
                    </a> 
    
                </div>
            </div>
        </div>
    </aside>

